:root {
    --main-color: #fff700;
    --text-color: #171717;
    --bg-color: #394855;
    --secondary-color:rgb(173, 130, 73);
}
html{
    overflow-x: hidden;
}
.body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    color: --text-color;

}

/* VIDEO PRINCIPAL HEADER */

.titulo {
    position: relative;
}
.tituloppal {
    height: 490px;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    opacity: 100%;
    height: 490px;
}
.empresa{
    font-family: 'Crimson Pro', serif;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: relative;
    z-index: 3;
    margin-bottom: -10%;
}
.empresa a{
    text-decoration: none;
}
.titulo h1{
    font-size: 2.5rem;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    animation-name: tituloppal;
    animation-duration: 5s;
    position: relative;
    z-index: 2;
    margin-top: 15%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
@keyframes tituloppal{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.titulo h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    animation-name: tituloppal;
    animation-duration: 7s;
    position: relative;
    z-index: 2;
}
.titulo p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: inline-block;
    z-index: 2;
    width: auto;
}
.tarifario{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 2em 1em 1em 1em ;

}
.botontarifario{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-right: 5%;
    border-radius: 2%;
    border: solid 2px var(--bg-color);
    color: var(--text-color);
    padding: 0.5em 1em;
}
.botontarifario:hover{
    background-color: rgb(253, 253, 253);
    color: black;
}
.titulo p a.botoncontacto {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 2%;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 0.5em 1em;
}
.titulo p a.botoncontacto:hover{
    background-color: white;
}
.slide {
    background-color: white;
}


.header{
    background-color: var(--bg-color);
}
.animado{
    opacity: 0;
    transition: all 1s;
}
.mostrarArriba{
    animation: mostrarArriba 1s
}
@keyframes mostrarArriba{
    0%{
        transform: translateY(60px)
    }
    100%{
        transform: translateY(0);
    }
}
.imgsmarcasresponsive{
    display: none;
}
.sectiondos{
    font-family: 'Open Sans', sans-serif;
}
.subtitulo {
    background-color: var(--bg-color);
}
.subtitulo h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 3%;
    margin-bottom: -3.8%;
    margin-top: 8%;
    font-size: 25px;
    font-weight: 400;
}

.sectiondos {
    font-family: 'Crimson Pro',serif;
}
.sectiondos h2{
    font-size: 40px;
    color: var(--secondary-color);
}

.strong{
    font-size: 30px;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}
.cifras h3{
    align-items: center;
    justify-content:center;
}
.columnauno{
    background-color: rgb(224, 224, 224);
}
.columnauno h3{
    font-size: 40px;

}
.columnauno h4{
    font-family: 'Crimson Pro', serif;
}
.columnauno, .columnados{
    padding-top: 5%;
    padding-bottom: 5%;
}
.columnados{
      background-color: rgb(245, 245, 245);
}
.columnados h3{
    line-height: 180%;
    text-align: justify;
    margin-left: 35%
   
}
/* audiencia */
.mockupradio img{
    width: 37.5%;
    justify-content: center;
    margin-left: 31.25%;
}
.carousel-item .carousel-caption {
   position: static;
   font-family: 'Open Sans', sans-serif;
    margin-top: 12%;
}
.carousel-caption h2{
    color: var(--bg-color);
    font-weight: 800;
    font-size: 40px;
}
.mockupdispositivos img{
    width: 80%;
    margin-bottom: 10%;
}
.mockuptv img{
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-top: 5%;
}
.papel{
    width: 60%;
    margin-left: 20%
}
/* section 3 */
.sectiontres{
    background-color:rgb(57, 72, 85);
    padding: 5%;
    margin-top: -1.2%;
}
.sectiontres h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: -3%;
    margin-bottom: 5%;
    font-size: 40px;
}
.sectiontres h2{
    color: var(--main-color);;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    text-decoration: none;
}
.pline:hover, .pbrand:hover{
    background-color: rgb(155, 155, 155);
    text-decoration: none;
}
.pbrand a, .pline a{
    text-decoration: none;
    font-size: 2rem;
}

/* section 4 */
.titulocuatro h2{
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}
.iconos i{
    font-size: 50px;
    color:rgb(57, 72, 85);
    transition: 0.5s;
}
.elemidia{
    transform: rotate(180deg);
}
.iconos h3{
    color: var(--secondary-color);
    font-family: 'Crimson Pro', serif;
}
.iconos i:hover{
    color: var(--secondary-color);
}
/* audiencia */
.tituloaudiencia h1{
    background-color:rgb(57, 72, 85);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding: 2%;
}
.tituloaudiencia h2{
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    padding-left: 5%;
}
.audienciauno img{
width: 150%;
margin-left: 0%;
}
.audienciados img{
    display: none;
}

.textoaudiencia{
    background-color: white;
    padding: 2%;
}
.textouno, .textotres, .textocinco{
    color: rgb(134, 130, 130);
}
.textodos, .textocuatro{
    color:rgb(81, 119, 163);
    font-family: 'Crimson Pro', serif;
    font-size: 50px;
}

.nuestraaudiencia{
    background-color: rgb(81, 119, 163);
    padding-top: 2%;
    font-family: 'Crimson Pro', serif;
}

.nuestraaudiencia i, .datoscaras i{
    font-size: 50px;
}
.nuestraaudiencia h3{
    font-size: 20px;
}
.linea{
    color: white;
}
.audienciafemenina img{
    width: 80%;
}
.audienciafemenina{
    background-color: rgb(233, 233, 233);
}
/* nuestras marcas */
.txtnuestrasmarcas{
    background-color:rgb(57, 72, 85);
}
.misproductos{
 
    background-color: rgb(253, 253, 253);
}
.misproductos p{
    font-size: 20px;
}
.nuestrasmarcas{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;  
}
.mockupbsastimes img{
    display: none;
}
.mockup img{
    width: 100%;
}
.mockupcaras img{
    width: 170%;
    margin-top: 100%;
    margin-left: 55%;
}
.mockupnoticias img{
    width: 80%;
    margin-left: -80%;
    margin-top: 70%
}
.mockupparabrisas img{
    width: 180%;
    margin-top: 100%;
    margin-left: 53%;
}
.carasimg img, .parabrisasimg img{
    width: 100%;
    box-shadow: 4px 4px 7px #999;
    display: block;
}
.noticiasimg img{
    width: 65%;
    margin-top: 5%;
    box-shadow: 4px 4px 7px #999;
}
.noticiasimgdos img {
    display: none;
}
.vermascaras{
    font-family: 'Crimson Pro', serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-color:rgb(57, 72, 85);
    border: solid 2px rgb(173, 130, 73) ;
    padding: 1%;
}
.vermascaras:hover{
    background-color:var(--secondary-color);
    color: white;
}
.carastxt h3, .carastxt p{
    font-family: 'Crimson Pro', serif;
}
.carastxt h3{
    font-size: 40px;
}
.carastxt h4 {
    margin-bottom: 0;
}
/* contacto */

.contactosadicionales{
    background-color: rgb(57, 72, 85);
}
.contactosadicionales h2{
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding: 2%;
}
.ricardoimg, .pabloimg{
    width: 50%;
    border: 2px solid var(--secondary-color);
    margin-left: 8%;
    margin-bottom: 3%;
    filter: grayscale(100%);
}
.contactosadicionales h3{
    font-size: 25px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-left: -10%;
    margin-bottom: 2%;
}
.contactosadicionales p{
    position: absolute;
    margin-left: -10%;
    padding: 2%;
}

/* branded */
.titulobranded h1{
    position: absolute;
    top: 70%;
    justify-content: center;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-color);
    background-color:rgb(57, 72, 85);
    width: 100%;
}
.branded{
    background-color: rgb(163, 163, 163);
    color:white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    padding: 3%;
    margin-top: -2%;
    position: relative;
}
.branded h4{
    width: 70%;
    margin-left: 15%;
}
.branded h3{
    font-family: 'Open Sans', sans-serif;
    color:rgb(57, 72, 85);
    margin-top: 1%;
    font-size: 30px;
    padding-top: 2%;
}
.brandedadhoc h2{
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-top: 5%;
}
.brandedadhoc p{
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
}
/* radio */
.radio img{
    width: 60%;
    margin-left: 20%;
    box-shadow: 4px 4px 7px #999
}
.radiohome{
    background-color: rgb(202, 200, 200);
    padding-bottom: 10%;
}
.botonradio{
    background-color: var(--main-color);
    text-decoration: none;
    color: black;
    padding: 1%;
    border-radius: 5px;
    transition: 0.5s;
}
.botonradio:hover{
    background-color:white; 
    color: var(--secondary-color);
    border:2px solid rgb(57, 72, 85) ;
}
.radiohome img{
    margin-top: 50%;
    width: 100%;
    margin-bottom: 5%;
}
.radiopng img{
    width: 50%;
}
.modof img{
    margin-top: 60%;
    width: 80%;

}
.lineas{
    color: rgb(57, 72, 85);
    padding: 2%;
}
.imgnfonte img{
    width: 100%;
}
.textomodof{
    font-size: 20px;
    width: 70%;
    margin-left: 15%;
    
}
.imgradioperfil img{
    width: 100%;
}
.tcontainermodof{
    text-align: center;
    justify-content: center;
}
/* tv */
.botonestv{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
    padding: 1%;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 5%;
}
.botonestv{
    background-color:white; 
    color: var(--secondary-color);
    border:2px solid rgb(57, 72, 85) ;
}
.imgnportadatv img{
    margin-top: 10%;
}
/* casesofsucces */
.sectionunocases h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: rgb(97, 124, 182);
    margin-top: 15%;
}
.sectionunocases h3{
    font-family: 'Open Sns', sans-serif;
}
.bloques h3{
    font-family: 'Open Sans', sans-serif;
}
.caracteristicas{
    background-color: rgb(57, 72, 85) ;
    color: var(--secondary-color);
    padding: 10%;
    margin-right: 1%;
    border-radius: 5%;
}
.caracteristicas h4{
    font-size: 30px;
}
.textobranded{
    font-family: 'Crimson Pro', serif;
}
.mostrarArriba{
    animation: mostrarArriba 1s
}
@keyframes mostrarArriba{
    0%{
        transform: translateY(60px)
    }
    100%{
        transform: translateY(0);
    }
}
.barranavegacion{
    background-color: rgb(97, 124, 182);
}
.icono{
    margin-left: 5%;
}
.botonuno, .botondos{
    text-decoration: none;
    background-color: rgb(97, 124, 182);
    font-size: 17px;
    color: white;
    font-family: 'Crimson Pro', serif;
    padding: 4%;
    transition: 1s;
}
.botondos{
    margin-right: 5%;
    border-radius: 5%;
    padding: 9%;
}
.botonuno{
    border-radius: 3%;
    margin-left: 16%;

}
.botonuno:hover, .botondos:hover{
    color: white;
    background-color: gray;
}
.soloresponsive{
    display: none;
}
.sectionuno{
    font-family: 'Crimson Pro', serif;
    margin-top: 10%;
}
.sectionuno h1{
    color: rgb(97, 124, 182);
}

/* cards */
.carduno img{
    width: 100%;
}
.carduno i{
    font-size: 28px;
    margin-left: 40%;
   position: relative;
   top: -10%;
   color: rgb(204, 161, 112);
   transition: 1s;
}
.carduno i:hover{
    color: rgb(167, 186, 228);
}
.vermas{
    text-decoration: none;
    background-color: rgb(204, 161, 112) ;
    color: white;
    border-radius: 5%;
    padding: 2%;
    transition: 1s;
}
.vermas:hover{
    background-color: rgb(97, 124, 182);
    color: white;
}
.solosubscriptores{
    font-family: 'Crimson Pro', serif;
}
.botontres{
    display: none;
}
.solosubscriptores h5 a{
    text-decoration: none;
    background-color:  rgb(204, 161, 112);
    color: white;
    padding: 0.5%;
    border-radius: 2%;
    transition: 1s;
}
.solosubscriptores h5 a:hover{
    background-color: rgb(97, 124, 182);
}
.solosubscriptores h4{
    font-size: 30px;
}
/* branded */
.brandedresponsive{
    display: none;
}
.brandedpc{
    display: block;
}
@media (min-width: 576px) {
    .titulo h1 {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .carousel-caption h2{
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    .tituloppal {
        height: 90vh;
    }
    video {
        height: 90vh;
    }
    .titulo h1 {
        font-size: 3.4rem;
        margin-top: 10%;
    }
}
@media (min-width: 1200px) {
    .titulo h1 {
        font-size: 4.5rem;
    }
    .subtitulo h4 {
        font-size: 28px;
    }
}
@media(max-width: 480px){
    .imgsmarcasresponsive{
        display: block;
    }
    .imgsmarcas{
        display: none;
    }
    .pbrand h2, .pline h2{
        font-size: 25px;
    }
    .radiohome img{
        margin-top: 30%;
    }
    .radiopng img{
        margin-top: 5%;
    }
    .radiof img{
        margin-top: 10%;
    }
    .brandedresponsive{
        display: block;
    }
    .brandedpc{
        display: none;
    }
    .caracteristicas{
        border-radius: 0%;
    }
    .caracteristicas h4{
        font-size: 25px;
    }
    
}